@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*   font-family: Montserrat, sans-serif !important; */
}

body {
  background: white;
  color: #000000;
}

a {
  color: #FF2768 !important;
  text-decoration: none !important;
}

a:hover {
  color: #FF2768 !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

/* nav{
  z-index: 99999!important;
} */
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 300px;
  }
}

/*--------------------------------------------------------------
# Override some default Bootstrap stylings
--------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
  border-radius: 4px;
  padding: 10px 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
  z-index: 999999999 !important;
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 15px;
  padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
  color: #444444;
  text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}

.dropdown-menu .dropdown-divider {
  color: #a5c5fe;
  margin: 0;
}

.dropdown-menu .dropdown-item {
  font-size: 11px !important;
  line-height: 10px !important;
  padding: 0px 0px !important;
  transition: 0.3s;
  color: black !important;
}

.ll {
  line-height: 1;
}

.dropdown-menu .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
  color: #FF2768 !important;
  background-color: white !important;
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #eaedf1;
    border-left: 1px solid #eaedf1;
  }
}

@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}

.big-text {
  font-family: "Playfair Display", serif !important;
  font-weight: 800 !important;
  font-size: 2.5rem !important;
}

.mybtn {
  color: #ffffff !important;
  background-color: #00494F;
  border-radius: 5px;
}

.bg-image {
  background-image: url('/homepapa-img2.png');
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
}

.overlay-text {
  color: #000000;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.1;
}

.overlay-text2 {
  color: #000000;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.2;
  width: 90%;

}

/* Light Backgrounds */
.bg-primary-light {
  background-color: #cfe2ff;
  border-color: #cfe2ff;
}

.bg-secondary-light {
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}

.bg-success-light {
  background-color: #d1e7dd;
  border-color: #d1e7dd;
}

.bg-danger-light {
  background-color: #f8d7da;
  border-color: #f8d7da;
}

.bg-warning-light {
  background-color: #fff3cd;
  border-color: #fff3cd;
}

.bg-info-light {
  background-color: #cff4fc;
  border-color: #cff4fc;
}

.bg-dark-light {
  background-color: #d3d3d4;
  border-color: #d3d3d4;
}

/* Card */
.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 18px;
  font-weight: 500;
  color: #FF2768;
}

.card-title span {
  color: #899bbd;
  font-size: 14px;
  font-weight: 400;
}

.card-body {
  padding: 0 20px 20px 20px;
}

.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Alerts */
.alert-heading {
  font-weight: 500;
  font-size: 20px;
}

/* Close Button */
.btn-close {
  background-size: 25%;
}

.btn-close:focus {
  outline: 0;
  box-shadow: none;
}

/* Accordion */
.accordion-item {
  border: 1px solid #ebeef4;
}

.accordion-button:focus {
  outline: 0;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: #FF2768;
  background-color: #f6f9ff;
}

.accordion-flush .accordion-button {
  padding: 15px 0;
  background: none;
  border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
  box-shadow: none;
  color: #FF2768;
}

.accordion-flush .accordion-body {
  padding: 0 0 15px 0;
  color: #3e4f6f;
  font-size: 15px;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 13px;
  color: #899bbd;
  font-weight: 300;
}

.breadcrumb li:last-child {
  color: #51678f;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

/* Borde#FF2768 Tabs */
.nav-tabs-borde {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-borde .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
}

.nav-tabs-borde .nav-link:hover,
.nav-tabs-borde .nav-link:focus {
  color: #FF2768;
}

.nav-tabs-borde .nav-link.active {
  background-color: #fff;
  color: #FF2768;
  border-bottom: 2px solid #FF2768;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  /* .logo {
    width: 280px;
  } */
}

.logo img {
  max-height: 50px !important;
  margin-right: 6px;
}

.footer-logo {
  width: 300px;
}

.dropdown-icon {
  width: 15px;
}

.dropdown-nav-icon {
  width: 14px;
}

.logo span {
  font-size: 26px;
  font-weight: 800;
  color: #000000;
}

.btn-danger {
  background-color: #FF2768 !important;
  border-color: #FF2768 !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: #FF2768 !important;
  border-color: #FF2768 !important;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  height: 60px;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  /* Toggle Sidebar Button */
  /* Search Bar */
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  padding-left: 10px;
  cursor: pointer;
  color: #FF2768;
}

.header .search-bar {
  min-width: 360px;
  padding: 0 20px;
}

@media (max-width: 1199px) {
  .header .search-bar {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
    background: white;
    z-index: 9999;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
  }

  .header .search-bar-show {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}

.header .search-form {
  width: 100%;
}

.header .search-form input {
  border: 0;
  font-size: 14px;
  color: #FF2768;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
  width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
  outline: none;
  box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
  border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
  border: 0;
  padding: 0;
  margin-left: -30px;
  background: none;
}

.header .search-form button i {
  color: #FF2768;
}

/*--------------------------------------------------------------
# Header Nav
--------------------------------------------------------------*/
.header-nav ul {
  list-style: none;
}

.header-nav>ul {
  margin: 0;
  padding: 0;
}

.header-nav .nav-icon {
  font-size: 22px;
  color: #FF2768;
  margin-right: 25px;
  position: relative;
}

.header-nav .nav-profile {
  color: #FF2768;
}

.header-nav .nav-profile img {
  max-height: 36px;
}

.header-nav .nav-profile span {
  font-size: 14px;
  font-weight: 600;
}

.header-nav .badge-number {
  position: absolute;
  inset: -2px -5px auto auto;
  font-weight: normal;
  font-size: 12px;
  padding: 3px 6px;
}

.header-nav .notifications {
  inset: 8px -15px auto auto !important;
}

.header-nav .notifications .notification-item {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .notifications .notification-item i {
  margin: 0 20px 0 10px;
  font-size: 24px;
}

.header-nav .notifications .notification-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header-nav .notifications .notification-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .notifications .notification-item:hover {
  background-color: #f6f9ff;
}

.header-nav .messages {
  inset: 8px -15px auto auto !important;
}

.header-nav .messages .message-item {
  padding: 15px 10px;
  transition: 0.3s;
}

.header-nav .messages .message-item a {
  display: flex;
}

.header-nav .messages .message-item img {
  margin: 0 20px 0 10px;
  max-height: 40px;
}

.header-nav .messages .message-item h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #444444;
}

.header-nav .messages .message-item p {
  font-size: 13px;
  margin-bottom: 3px;
  color: #919191;
}

.header-nav .messages .message-item:hover {
  background-color: #f6f9ff;
}

.header-nav .profile {
  min-width: 240px;
  padding-bottom: 0;
  top: 8px !important;
}

.header-nav .profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.header-nav .profile .dropdown-header span {
  font-size: 14px;
}

.header-nav .profile .dropdown-item {
  font-size: 14px;
  padding: 10px 15px;
  transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
  margin-right: 10px;
  font-size: 18px;
  line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
  background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -300px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

@media (min-width: 1200px) {

  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #000000;
  transition: 0.3;
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link.active {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #FF2768;
  transition: 0.3;
  background: #f6f9ff;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #000000;
}

.sidebar-nav .nav-link.nav-link.active i {
  font-size: 16px;
  margin-right: 10px;
  color: #FF2768;
}

.sidebar-nav .nav-link.collapsed {
  color: #FF2768;
  background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
  color: #899bbd;
}

.sidebar-nav .nav-link:hover {
  color: #FF2768;
  background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
  color: #FF2768;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #FF2768;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #FF2768;
}

.sidebar-nav .nav-content a.active i {
  background-color: #FF2768;
}

.form-check-input:checked {
  background-color: #000000
    /*ff6200*/
    !important;
  border-color: #000000
    /*ff6200*/
    !important;
}

.form-check-input {
  height: 1.4em;
  width: 1.4em;
}

.form-check-label {
  margin-left: 10px;
  margin-top: 4px;
}

.form-select,
.form-control {
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* margin-top: 0.4rem;
  margin-bottom: 0.7rem; */
}

.form-select:focus,
.form-control:focus {
  box-shadow: none !important;
  border-color: black !important;
}

label {
  font-weight: 400;
}



.posss {
  position: sticky;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 99;
}

.modal {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(0, 0, 0, 0.6) !important;
  display: block !important;
  z-index: 99999999;
}

.modal-main {
  position: absolute;
  background: white;
  width: 900px;
  height: auto;
  overflow: scroll;
  top: 50%;
  border-radius: 10px !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-main2 {
  position: absolute;
  background: white;
  width: 450px;
  height: auto;
  overflow: scroll;
  top: 50%;
  border-radius: 10px !important;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  font-family: "Playfair Display", serif !important;
  font-weight: 800;
  color: #000;
  font-size: 2rem;
}



.icon-img {
  height: 250px !important;
}

.text-lightt {
  font-weight: 300 !important;
  color: #8d8d8d !important;
}

.w-mine {
  width: 650px !important;
  border: 1.5px solid black !important;
}

.fw-less {
  font-weight: 300;
  font-size: 1.2rem !important;
  color: #6e6e6e;
}

.mylist li {
  margin-bottom: 0.3rem;
  color: rgb(0, 215, 72);
  font-weight: 600;
}

.mylist li span {
  color: black;
  color: #414141 !important;
}

.condocard-img-top {
  width: 100%;
  max-height: 40rem;
  height: 25rem !important;
  object-fit: cover;
  border-radius: 7px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.condocard-img-top2 {
  width: 100%;
  max-height: 18rem;
  height: 120px !important;
  object-fit: cover;
  border-radius: 7px;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.cardd-title {
  font-size: 1.3rem;
  font-weight: 800;
}

.cardd-subtitle {
  font-size: 1.05rem;
  font-weight: 500;
  color: #a30000;
}

.fs-mine {
  font-size: 2.19rem !important;
}

.card-address {
  font-size: 1rem;
}

.abs1 {
  position: absolute;
  left: 3%;
  top: 4%;
  border-radius: 3px;
  background: #ff6a5b;
  background: linear-gradient(90deg, #ff924d 0, #ff6a5b);
  color: #fff;
  font-size: 0.85rem;
}

.mmmmm {
  position: absolute;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.7rem;
  background-color: #fff;
  color: #000;
  z-index: 9;
  left: 3%;
  bottom: 4%;
}

.abs2 {
  position: absolute;
  top: 0px;
  left: 5px;
  /* box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2); */
  /* background-color: white; */
  border-radius: 5px;
  text-shadow: 3px 4px #000000;
  color: white;
  font-weight: 900 !important;
  font-size: 3rem;
}

.g-item {
  transition: transform 0.5s ease-in-out;
}

.g-item img {
  object-fit: cover;
  object-position: center;
}

.g-item:hover {
  overflow: hidden;
  transform: scale(1.01);
  cursor: pointer;
}

.grid-item1 {
  grid-area: 1/1/4/3;
  height: 510px;
}

.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7 {
  height: 250px !important;
}

.grid-cont>div:first-child {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 8px 8px;
  z-index: 98 !important;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.footer {
  background-color: #ffffff;
  font-size: 14px;
  padding-bottom: 50px;
}

.footer .footer-top {
  padding-top: 50px;
}

.footer .footer-links {
  margin-bottom: 10px;
}

.footer h4 {
  color: black;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.minearr {
  width: 18px;
  height: 18px;
}

.breadcrumb {
  list-style: none !important;
}

.breadcrumb li a {
  color: black !important;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul li {
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul a {
  color: black;
  display: inline-block;
  line-height: 1.2rem;
}

.properti_city {
  margin-bottom: 30px;
  position: relative;
}

.properti_city .thumb {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.properti_city .thumb img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}

.properti_city .overlay {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0.01), #1d293e);
  border-radius: 0 0 10px 10px;
  height: 300px !important;
  bottom: 0;
  height: inherit;
  left: 0;
  position: absolute;
  right: 0;
  text-align: start;
}

.properti_city .overlay .details {
  bottom: 20px;
  left: 20px;
  color: white;
  position: absolute;
  right: 0;
  text-shadow: 0 0 10px #000000;
}

.properti_city .overlay .details h4 {
  font-weight: 700;
}

.properti_city .overlay .details p {
  font-size: 0.8rem;
}

.fw-mine {
  font-weight: 800;
}

.accent-line {
  position: relative;
}

.accent-line:after {
  width: 5em;
  height: 3px;
  background-color: #FF2768;
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
}

.text-blue {
  color: #00494F !important;
}

.text-body2 {
  font-size: 16px;
  line-height: 26px;
}

.card-secondary-title {
  font-size: 0.8rem !important;
  margin-top: 0.3rem;
  color: #585858;
}

.card-secondary-title2 {
  font-size: 0.8rem !important;
  margin-top: 0.1rem;
  color: #585858;
}

.navbar-nav .nav-item .nav-link {
  font-weight: 300;
  color: #585858 !important;
}

.navbar-nav .nav-item .nav-link:hover {
  font-weight: 400;
  color: #000000 !important;
}

.developer-desc {
  line-height: 2rem;
}

.fs-big {
  font-family: "Playfair Display", serif !important;
  font-size: 3.5rem;
  font-weight: 900 !important;
  color: #2c2c2c !important;
}

.fs-gta {
  font-size: 4rem !important;
  font-weight: 800 !important;
  color: #2c2c2c !important;
}

.registernoebtn {
  background-color: red !important;
  color: white !important;
}

.fs-big a {
  color: #2c2c2c !important;
}

.fields {
  width: 100%;
  padding: 1.3rem 1rem;
  border: none;
  border-radius: 7px;
  background-color: #f1f3fa;
}

.fields:focus {
  outline-color: black !important;
}

.colo-mine {
  color: #443d3d;
}

/* 
.fff {
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  border: 1px solid;
  border-color: #dce0e0;
  padding: 1rem 1rem;
}
 */
.mess {
  padding: 1.5rem 1rem;
}

.sendbtn {
  background-color: #000000;
  /*ff6200*/
  color: white;
  border-radius: 100px;
  border: 1px solid #000000;
  /*ff6200*/
}

.rounded-minetop {
  border-radius: 0 !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.rounded-minetop2 {
  border-radius: 0 !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.sendbtn:hover {
  color: #000000;
  /*ff6200*/
  background-color: white;
  border: 1px solid #000000;
  /*ff6200*/
}

.btn-call {
  background-color: #000000 !important;
  /* background-color: #FF2768 !important; */
  color: #ffffff
    /*ff6200*/
    !important;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  box-shadow: none !important;
}

.btn-call:hover {
  background-image: black !important;
  color: white !important;
}

.btn-submit {
  background-color: #000000 !important;
  color: #ffffff
    /*ff6200*/
    !important;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  box-shadow: none !important;
}

.btn-submit:hover {
  background-image: linear-gradient(106deg, #171717, #363636);
}

.container-fluid2 {
  padding-right: 7rem !important;
  padding-left: 7rem !important;
}

.container-fluid {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}

@media screen and (max-width: 768px) {
  .w-mine {
    width: 381px !important;
  }
}

@media screen and (max-width: 1000px) {
  .container-fluid {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .container-fluid2 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
}

.badge-lightblue {
  background-color: #d7f4ff;
  color: #006c97;
  padding: 1rem;
  border-radius: 5px;
}

.btn-success {
  color: white !important;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  color: white !important;
}

.sidebar-nav-link i {
  color: rgb(0, 0, 0) !important;
}

.sidebar-nav-link a {
  color: rgb(0, 0, 0) !important;
}

.rounded-mine {
  border-radius: 7px !important;
}

.vmain-title {
  font-family: "Playfair Display", serif !important;
  font-weight: 800;
  color: #000000;
  font-size: 3rem;
}

.fw-mine2 {
  font-weight: 700;
}

.text-inside {
  font-size: 0.9rem;
  line-height: 1.65rem;
}

.btn-outline-dark {
  color: black !important;
  border-color: black !important;
  font-weight: 500 !important;
}

.btn-outline-dark:hover {
  background-color: #000000 !important;
  color: rgb(255, 255, 255) !important;
  border-color: rgb(0, 0, 0) !important;
  font-weight: 500 !important;
}

.text-small {
  font-size: 0.8rem !important;
}

.city-title {
  color: #FF2768 !important;
}

.bottom-line-image {
  bottom: -20px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 60%;
}

.text-mine {
  color: #FF2768 !important;
}

.outline-red {
  background-color: #ff6a5b;
  color: #ffffff !important;
}

.fs-m {
  font-size: 1.1rem !important;
}

.fs-small {
  font-size: 0.9rem !important;
  color: #003274 !important;
}

.fs-smaller {
  font-size: 1rem !important;
  color: #003274 !important;
}

/* .maxhh{
  max-height: 500px !important;
  overflow: scroll;
} */
.maxhh::-webkit-scrollbar {
  display: none;
}

.fs-vsmall {
  font-size: 0.8rem !important;
  color: #003274;
}

.utility__phone-msg b {
  font-size: 1.1rem;
  color: #313541;
}

.utility__phone-msg .travel__expert {
  font-weight: 400;
  font-size: 12px;
  color: #313541;
  line-height: 14px;
  text-align: left;
}

.smallm {
  height: 80px;
}

.bg-lightblue {
  background-color: #fff6fb !important;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 300px;
}

.bg-blue {
  background-color: #e0f4ff !important;
}

.bg-green {
  background-color: #ff385c !important;
}

.bg-red {
  background-color: red !important;
}

.bg-yellow {
  z-index: 9;
  margin-right: 10px !important;
  font-weight: 500;
  font-size: 0.8rem;
  background: #ff6a5b;
  background: linear-gradient(90deg, #ff924d 0, #ff6a5b);
  color: #fff;
}

.bg-lightyellow {
  background-color: #5bdbff1f !important;
  border-color: #5bdbff1f;
}

.bg-lightyellow2 {
  background-color: #effcff !important;
  border-color: #5bdbff1f;
}

.side-text {
  position: absolute;
  right: 5%;
  top: 30%;
  transform: translateX(-50%);
  max-width: 500px;
}

.side-text p {
  font-size: 1.2rem;
}

.side-text h3 {
  font-size: 4rem;
  font-weight: 900;
}

.side-img {
  left: 10%;
  top: -20%;
  position: absolute;
}

.side-img img {
  height: 440px;
}

.maple-leaf {
  width: 32px;
}

.underline-svg {
  height: 10px !important;
}

.footerlinks a {
  color: #000000 !important;
}

.smallsearch {
  width: 250px !important;
}

.form-select-sm {
  width: 150px !important;
}

@media screen and (max-width: 1000px) {
  .fs-vsmall {
    font-size: 1rem !important;
  }

  .side-text {
    position: absolute;
    left: 10% !important;
    top: 80%;
    text-align: center;
    max-width: 100%;
    transform: none !important;
  }

  .side-text p {
    font-size: 1rem;
  }

  .side-text h3 {
    font-size: 2rem;
    font-weight: 900;
  }

  .side-img {
    top: -13%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  .side-img img {
    height: 280px;
  }
}

.condocard a:hover,
.condocard a:focus {
  text-decoration: none;
  color: #000000 !important;
}

.dropdown-fullwidth .dropdown-menu {
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 1rem 0;
  z-index: 99999999 !important;
}

.dropdown-menu {
  z-index: 99999999 !important;
  visibility: hidden;
  position: absolute !important;
}

.dropdown-menu ul li a {
  display: none !important;
}

.dropdown-toggle {
  margin: 0 2px;
  border-radius: 7px;
}

.dropdown-toggle:hover {
  /* box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15); */
  border-radius: 7px;
  padding-left: 8px;
  padding-right: 8px;
}

.dropdown-toggle:hover+.dropdown-menu {
  visibility: visible;
}

.dropdown-toggle:hover+.dropdown-menu ul li a {
  display: inline-block !important;
}

.dropdown-menu:hover ul li a {
  display: inline-block !important;
}

.dropdown-menu:hover {
  visibility: visible;
}

/* .dropdown-menu.show{
  visibility: visible;
} */
.dropdown-menu[data-bs-popper] {
  top: 75% !important;
}

.dropdown-menu-end[data-bs-popper] {
  right: 67px !important;
  left: auto;
}

.project-address-card {
  font-size: 0.9rem !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-limit {
  font-size: 0.9rem !important;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow-navbar {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.04) !important;
}

.text-red {
  color: red;
}

.accordion-button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.agent-img {
  width: 100% !important;
  max-height: 80px !important;
  border-radius: 10%;
  object-fit: cover;
  object-position: top;
}

.accordion-button:not(.collapsed) {
  background-color: #fffaf9 !important;
  color: black;
}

.side-contact-img {
  width: 60%;
}

.side-fix-contact {
  position: sticky;
  top: 5.5rem;
  right: 0;
  z-index: 99 !important;
}

#make-img-responsive {
  max-width: 100% !important;
}

#make-img-responsive p {
  max-width: 100% !important;
}

#make-img-responsive img {
  max-width: 100% !important;
  height: auto !important;
}

#make-img-responsive iframe {
  max-width: 100% !important;
}

.top-text {
  letter-spacing: 0.05rem;
  font-weight: 900 !important;
}

.search-bar {
  border-color: #f8f9fa !important;
  background-color: #f8f9fa;
  border-radius: 99999px !important;
}

.border-navbar {
  border-bottom: 1px solid #ddd;
}

.link-black {
  color: black !important;
}

.link-black:hover {
  color: black !important;
}

.input-group-search {
  width: unset;
}

.ha-link {
  font-weight: 300 !important;
}

.ha-link:hover {
  color: black !important;
  font-weight: 300 !important;
}

.react-autosuggest__input {
  background-color: #f5f5f5;
  right: 0;
  width: 280px !important;
  height: 45px;
  padding: 20px 20px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 0 !important;
  border-top-left-radius: 99px !important;
  border-bottom-left-radius: 99px !important;
}

.ww .react-autosuggest__input {
  background-color: #f5f5f5;
  right: 0;
  width: 650px !important;
  height: 70px;
  padding: 20px 20px;
  font-weight: 300;
  font-size: 16px;
  border: none;
  border-radius: 0 !important;
  border-radius: 99px !important;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.ww .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 81px;
  width: 100%;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0 1rem 2rem 2px rgb(0 0 0 / 15%);
  border-radius: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 100%;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  box-shadow: 0 1rem 2rem 2px rgb(0 0 0 / 15%);
  border-radius: 5px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestions-list a {
  color: black !important;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgb(241, 241, 241);
  font-weight: 500;
}

.react-autosuggest__section-container {
  border-top: 1px dashed #ccc;
}

.react-autosuggest__section-container--first {
  border-top: 0;
}

.react-autosuggest__section-title {
  padding: 10px 0 0 10px;
  font-size: 12px;
  color: #777;
}

.bg-light2 {
  background-color: #f5f5f5;
}

.bg-lh {
  border-radius: 0%;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  background-color: #f5f5f5;
}

.py-search {
  padding-top: 8.5px !important;
  padding-bottom: 8.5px !important;
}

.bg-lh:hover {
  background-color: #ffffff;
  box-shadow: 0rem 0rem 1rem 1px rgb(0 0 0 / 3%);
}

.react-autosuggest__container {
  position: relative;
}

.navbar-toggler {
  border: none !important;
  padding: 0 !important;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

.fixcontact {
  display: none;
}

.fixcontact2 {
  bottom: 40px;
  width: 605px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 9px;
  position: fixed;
  z-index: 9999;
  display: block;
}

@media only screen and (max-width: 768px) {
  .fixcontact {
    bottom: 12px;
    width: 54%;
    left: 10%;
    transform: translateX(18%);
    border-radius: 9px;
    position: fixed;
    z-index: 9999;
    display: block;
  }

  .fixcontact2 {
    display: none;
  }
}

.fs-top {
  font-size: 4rem;
  scale: 1;
  text-shadow: 1px 1px 1px #04324c;
}

.dropdown-toggle::after {
  display: none;
}

.fs-top:hover {
  /* border transition */
  transition: all 0.2s ease-in-out;
  text-shadow: 1px 1px 1px #04324c;
}

.fs-line {
  font-size: 3.4rem;
}

.p-sticky-top {
  position: sticky;
  top: 0;
  z-index: 99;
}

.sticky-top {
  z-index: 999999 !important;
}

.img-call-height {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: static;
}

.img-call-height-dropdown {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: static;
}

.utility__phone .utility__phone-msg {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.fs-md-2 {
  font-size: calc(1.325rem + 0.9vw) !important;
}

.border-bottom2 {
  text-shadow: 0 0 10px #cccccc;
}

.dolphy-advantage-image img {
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}

.builder-logo-detail {
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.builder-logo-detail img {
  height: 100px;
}

.max-w-mine {
  max-width: 1000px !important;
}

.overflow-m a {
  max-width: 20px !important;
}

.bigg:hover {
  box-shadow: 10px 1px 10px 0px rgba(0, 0, 0, 0.2) !important;
}

.muuuu {
  width: 320px;
}

.muuuuu {
  width: 850px;
  margin-bottom: 2rem !important;
}

.muuuuu input {
  height: 4rem !important;
}

.zzz {
  z-index: 99999 !important;
}

.fixed-whatsapp {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 80px;
  z-index: 99999999 !important;
  display: none;
}

@media (max-width: 800px) {
  .text-mine {
    color: #FF2768 !important;
  }

  .bg-image {
    background-image: url('/homepapa-img2.png');
    background-size: cover;
    background-position: center;
    height: 92vh !important;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 25px;
  }

  .big-text {
    font-family: "Playfair Display", serif !important;
    font-weight: 800 !important;
    font-size: 2rem !important;
    width: 90%;
  }

  .logo img {
    max-height: 30px !important;
    margin-right: 6px;
  }

  /* .p-sticky-top{
    position: relative;
  } */
  .muuuuu {
    width: 400px;
  }

  .fixed-whatsapp {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 70px;
    z-index: 99999999 !important;
  }

  .text-inside {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }

  .muuuu {
    width: 200px;
  }

  .fs-mine {
    font-size: 1.7rem !important;
    margin-bottom: 10px !important;
  }

  .fs-big {
    font-size: 2.3rem !important;
    font-weight: 800 !important;
    width: 90%;
  }

  .fs-gta {
    font-size: 1.7rem !important;
    font-weight: 800 !important;
    color: #2c2c2c !important;
  }

  .dropdown-fullwidth {
    position: static !important;
  }

  .dropdown-fullwidth .dropdown-menu {
    max-width: 100% !important;
  }

  .dropdown-menu[data-bs-popper] {
    top: 36% !important;
  }

  .fs-top {
    font-size: 2rem;
    padding-bottom: 0 !important;
    scale: 1;
    text-shadow: none;
  }

  .fs-md-2 {
    font-size: 1.3rem !important;
  }

  .fs-line {
    font-size: 2rem;
  }

  .agent-img {
    max-height: 68px !important;
  }

  .g-item {
    display: none;
  }

  .g-itemx {
    display: none;
  }

  .g-itemm {
    display: none;
  }

  .fs-5 {
    font-size: 1.1rem !important;
  }

  .grid-item1 {
    grid-area: 1/1/8/8;
    display: grid;
    height: 320px;
  }

  .grid-itemx1 {
    grid-area: 1/1/8/8;
    display: grid;
    height: 320px;
  }

  .grid-itemm1 {
    grid-area: 1/1/8/8;
    display: grid;
    height: 320px;
  }

  .react-autosuggest__input {
    width: 180px !important;
    border-radius: 7px !important;
  }

  .react-autosuggest__input::placeholder {
    font-size: 1rem !important;
  }

  .ww .react-autosuggest__input {
    background-color: #f5f5f5;
    right: 0;
    width: 360px !important;
    height: 60px;
    padding: 20px 20px;
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-radius: 0 !important;
    border-radius: 99px !important;
  }

  .ww .react-autosuggest__input::placeholder {
    font-size: 1rem !important;
  }
}

@media (min-width: 576px) {
  .dropdown-fullwidth {
    position: static !important;
  }

  .dropdown-fullwidth .dropdown-menu {
    max-width: 86% !important;
  }
}

@media (min-width: 768px) {
  .dropdown-fullwidth {
    position: static !important;
  }

  .dropdown-fullwidth .dropdown-menu {
    max-width: 94% !important;
  }
}

@media (min-width: 992px) {
  .dropdown-fullwidth {
    position: static !important;
  }

  .dropdown-fullwidth .dropdown-menu {
    max-width: 94% !important;
  }

  .fs-md-5 {
    font-size: 1.25rem !important;
  }
}

@media (min-width: 1200px) {
  .dropdown-fullwidth {
    position: static !important;
  }

  .dropdown-fullwidth .dropdown-menu {
    max-width: 1100px !important;
  }
}

.horizontal-row {
  border: 1px solid #9b959536;
}

.city-insights-container {
  text-align: center;
  padding: 8px 20px 20px 0;
}

.insights-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.city-list {
  text-align: center;
  margin-inline: 32px;
}

.city-item {
  margin: 10px;
  padding: 6px 14px;
  /* border: 1px solid #FF2768; */
  border: 1px solid rgb(218, 220, 224);
  /* border-radius: 8px; */
  border-radius: 100px;
  transition: all 100ms linear;
  color: rgb(32, 33, 36);
}

.city-link .active {
  /* background-color: #FF2768; */
  /* color: #fff !important; */

  background: rgb(232, 240, 254);
  color: #FF2768;
  font-weight: bold;
}

.city-item:hover {
  /* transform: scale(1.05); */
  /* background-color: #FF2768; */
  /* color: #fff !important; */
  background-color: rgb(232, 234, 237);
}

.city-link {
  text-decoration: none;
  /* font-weight: bold; */
  display: block;
  color: inherit;
}

.fw-m {
  font-weight: 500;
  padding: 0.2rem auto !important;
  margin-right: 0.4rem;
  box-shadow: none !important;
  color: #3e3e3e !important;
  border: 1px solid #dfdfdf !important;
  background-color: rgb(255, 255, 255) !important;
}

.pin2 {
  position: relative;
  color: white;
  padding: 0.3rem;
  font-size: 0.6rem;
  background-color: #ff0000 !important;
  z-index: 99999 !important;
  transition: padding 0.5s ease-in-out;
  cursor: pointer;
}

.pin2::before {
  padding: 0.3rem;
  background-color: #ff0000;
  position: absolute;
  content: "";
  border-radius: 0% 0% 0% 0;
  bottom: -5px;
  left: 10%;
  transform: translateX(0%) rotate(-45deg);
  z-index: 999 !important;
}

.pin2:hover {
  z-index: 12;
  box-shadow: rgb(255 255 255) 0px 0px 0px 1px inset;
}

.pin2:hover::before {
  background-color: #ff0000 !important;
}

#slider {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#slider::-webkit-scrollbar {
  display: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-left,
.scroll-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  top: calc(50% - 24px);
}

.text-green {
  color: #00832e !important;
}

.blurr {
  filter: blur(2px);
}

.lock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.lockicon {
  height: 60px;
  width: 60px;
  filter: saturate(50%);
}

.op {
  opacity: 1;
}

.shdwc {
  box-shadow: -3px -2px 10px 1px #d2d2d2;
}

.b1 {
  background-image: url("/homep/3.png") !important;
}

.b2 {
  background-image: url("/homep/2.png") !important;
}

.b3 {
  background-image: url("/homep/1.png") !important;
}

.b4 {
  background-image: url("/homep/4.png") !important;
}

.bg-homem {
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 550px !important;
}

/* mobile version */
@media (max-width: 800px) {
  .bg-homem {
    height: 450px !important;
  }
}

.lastp {
  font-size: 14px;
  color: #444444;
  margin: auto 7px;
  line-height: 1.88em;
}

.btn-smm {
  background-color: white;
  border: 1px solid black;
  color: rgb(0, 0, 0) !important;
  border-radius: 0 !important;
}

.btn-smm:hover,
.btn-smm:active,
.btn-smm:focus {
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  color: rgb(255, 255, 255) !important;
  border-radius: 0 !important;
  transition: background-color 0.2s ease-in-out;
}

.bg-homem img {
  filter: brightness(0);
  scale: 1.7;
}

.small-text2 {
  font-size: 10px;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

.fm-playfair {
  font-family: "Playfair Display", serif !important;
}

.w-mine5 {
  margin-left: 5px;
  width: 250px !important;
  border-radius: 20px !important;
  background-color: #f5f5f5;
  font-size: 14px !important;
}

.autocomplete-results {
  min-width: 260px;
}

.fs-vvsmall {
  font-size: 0.6rem !important;
}

@media (max-width: 800px) {
  .w-mine5 {
    width: 220px !important;
  }
}