.blog-container {
  margin: auto;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
}

.blog-container:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.image-container {
  width: 100%;
  height: 12em;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.card {
  cursor: pointer;
}

.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #f2fafe;
  height: 30px;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #00a1ff;
  transition: all 100ms linear;
}

.tag p {
  margin: 0px;
}

.tag:hover {
  background-color: #00a1ff;
  color: #fff;
}
.banner-image {
  /* border-bottom-left-radius: 40%; */
  /* border-bottom-right-radius: 40%; */
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  display: block;
  max-height: 600px;
  border-radius: 4px;
}

.image_border__fake {
  position: absolute;
  width: 100%;
  bottom: -7px;
  display: block;
  background: transparent;
  z-index: 10;
}

.banner-image > img {
  filter: brightness(100%);
}

.blog-title {
  top: 50%;
}

.swoop {
  display: block;
  /* position: relative; */
  /* bottom: -10px; */
  fill: rgb(255, 255, 255);
}

@media screen and (max-width: 768px) {
  .blog-read__time {
    display: flex;
    flex-direction: row;
  }

  .blog-read__time-name::after {
    content: ".";
    padding-inline: 6px;
    position: relative;
    top: -3px;
  }
}
